REGEDIT4

; TortoiseGit Portable Registry Template (HKCU only - no admin required)
; Shell integration handlers registered under HKEY_CURRENT_USER\Software\Classes
; Note: Icon overlays require admin rights - see tortoisegit-install-overlays.reg

; Shell extension CLSIDs (TortoiseGitStub.dll handlers)

[HKEY_CURRENT_USER\Software\Classes\CLSID\{451C7E59-058F-450A-8C42-FE9A12A302FC}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{451C7E59-058F-450A-8C42-FE9A12A302FC}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{8DA7CDCB-DC0B-4246-80BD-812E942734AF}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{8DA7CDCB-DC0B-4246-80BD-812E942734AF}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{475A024D-6157-4E03-8C61-D1FA9806415C}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{475A024D-6157-4E03-8C61-D1FA9806415C}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{5F380D0B-EE64-479B-B2AD-EF437BF4B0A6}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{D69716CD-6993-4D0D-898F-5EBBC25C5D4D}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{4E453CBA-2AAB-465C-A01E-627A7BE9ED73}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{A38915E4-A460-4143-8D6B-0B45564C6A00}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{A38915E4-A460-4143-8D6B-0B45564C6A00}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{1B94B098-57C6-4C39-9DC5-8EB00E423D3E}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}]
@="TortoiseGit"

[HKEY_CURRENT_USER\Software\Classes\CLSID\{18BF1135-6EA2-405F-A71E-16EEE7F71F8B}\InProcServer32]
@="%TGITHOME%\\bin\\TortoiseGitStub.dll"
"ThreadingModel"="Apartment"

; Context menu, property sheet, drag-drop, copy-hook handlers

[HKEY_CURRENT_USER\Software\Classes\LibraryFolder\background\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\*\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\*\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Directory\Background\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Directory\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Directory\shellex\CopyHookHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Directory\shellex\DragDropHandlers\TortoiseGit]
@="{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"

[HKEY_CURRENT_USER\Software\Classes\Directory\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Drive\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Drive\shellex\PropertySheetHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Folder\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\Folder\shellex\DragDropHandlers\TortoiseGit]
@="{6A4800FA-13B4-4CB4-9A37-97E7FAEDA731}"

[HKEY_CURRENT_USER\Software\Classes\InternetShortcut\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

[HKEY_CURRENT_USER\Software\Classes\lnkfile\shellex\ContextMenuHandlers\TortoiseGit]
@="{10A0FDD2-B0C0-4CD4-A7AE-E594CE3B91C8}"

; User configuration

[HKEY_CURRENT_USER\Software\TortoiseGit]
"TortoiseGit"="TortoiseGit"
"TortoiseMerge"="TortoiseGitMerge"
"TortoiseGitBlame"="TortoiseGitBlame"
"TortoiseIDiff"="TortoiseGitIDiff"

; URL Protocol Handlers (HKCU - no admin rights required)

[HKEY_CURRENT_USER\Software\Classes\tgit]
@="URL: TGit Protocol"
"URL Protocol"=""

[HKEY_CURRENT_USER\Software\Classes\tgit\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /urlhandler:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\git]
@="URL: Git Protocol"
"URL Protocol"=""

[HKEY_CURRENT_USER\Software\Classes\git\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /command:clone /url:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\github-windows]
@="URL: Github-Windows Protocol"
"URL Protocol"=""

[HKEY_CURRENT_USER\Software\Classes\github-windows\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /urlhandler:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\smartgit]
@="URL: Smartgit Protocol"
"URL Protocol"=""

[HKEY_CURRENT_USER\Software\Classes\smartgit\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /urlhandler:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\x-github-client]
@="URL: X-Github-Client Protocol"
"URL Protocol"=""

[HKEY_CURRENT_USER\Software\Classes\x-github-client\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /urlhandler:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\TortoiseGit.UrlHandler\shell\open]
"Icon"="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\""

[HKEY_CURRENT_USER\Software\Classes\TortoiseGit.UrlHandler\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /urlhandler:\"%1\""

[HKEY_CURRENT_USER\Software\Classes\TortoiseGit.GitUrlHandler\shell\open]
"Icon"="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\""

[HKEY_CURRENT_USER\Software\Classes\TortoiseGit.GitUrlHandler\shell\open\command]
@="\"%TGITHOME%\\bin\\TortoiseGitProc.exe\" /command:clone /url:\"%1\""
